doctype html
html
  body

    form(id="publish" class="form-inline" method="POST")
      input(type="text" name="message")
      input(type="submit" class="btn btn-primary" value="Отправить")

    ul#messages

    script.
      var xhr = new XMLHttpRequest();

      //Опрашиваем сервер - получаем историю всех сообщений чата, в т.ч. свои новые
      var loop = setInterval(function () {
        askServer();
      }, 400);

      //По нажатию - публикуем свое сообщение
      document.getElementById('publish').onsubmit = function(){

        askServer(this.elements.message.value);

        this.elements.message.value = '';

        return false;
      }

      //запрос: передаем свое сообщение, получаем обратно все сообщения чата
      function askServer(msg){
        var msg = msg ? ('?message=' + msg) : '';

        xhr.open("GET", "/publish"+msg, true);

        xhr.onload = function () {
          var a = this.responseText.split('<->');//разбираем ответ сервера

          document.getElementById('messages').innerHTML = '';

          for (var i in a) { //оформляем список сообщений

            if (a[i]){
              var li = document.createElement('li');
              li.textContent = a[i]
              document.getElementById('messages').appendChild(li);

            };
          };

        };

        xhr.send();
      };




